#slidestyle{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    top: 30%;
}

#slidestyle span{
    display: inline-block;
    background: white;
    color: red;
    font-size: medium;
    width:50%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 2%;
}

#slidestyle h2{
    display: inline-block;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    color: slategray;
    font-size: 60px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    width: 100%;
    margin: 0 auto;
}

#slidestyle p{
    color: white;
    font-size: medium;
    font-weight: bold;
}

#slidestyle a{
    display: inline-block;
    background: white;
    color: red;
    font-size: medium;
    width:25%;
    margin: 0 auto;
    padding: 2%;
}